<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.salesforce.ide.executeanonymous.ui.ExecuteAnonymousEditor"
            extensions="executeanonymous"
            filenames="execute.anonymous"
            icon="icons/sample.gif"
            id="com.salesforce.ide.executeanonymous.ui.ExecuteAnonymousEditor"
            name="Execute Anonymous">
      </editor>
   </extension>

</plugin>
